.planner {
    background-color: crimson;
    width: 100%;
    height: 48vw;
    
}

.header {
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
}

.box1 {
    width: 50px;
    height: 300px;
    background-color: rgb(236, 239, 72);
    flex: 5;
    margin: 10px;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

    .box1{
        width: 50px;
        height: 300px;
        background-color: rgb(236, 239, 72);
        flex:5;
        margin: 10px;
        color: brown;
        text-decoration-line: underline;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .brush{
        height: 200px;
        margin-top: 10px;
        
    }

    .box2{
        width: 50px;
        height: 300px;
        background-color: rgb(64, 223, 141);
        flex:5;
        margin: 10px;
        color: brown;
        text-decoration-line: underline;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .dressed{
        margin-top: 10px;
        height: 200px;
        width: 100px;
        
    }
    .box3{
        width: 50px;
        height: 300px;
        background-color: rgb(241, 105, 236);
        flex:5;
        margin: 10px;
        color: brown;
        text-decoration-line: underline;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .bed{
        margin-top: 10px;
        height: 200px;
        width: 100px;
        
    }
    .box4{
        width: 50px;
        height: 300px;
        background-color: rgb(130, 218, 68);
        flex:5;
        margin: 10px;
        color: brown;
        text-decoration-line: underline;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .breakfast{
        margin-top: 10px;
        height: 200px;
        width: 100px;
        
    }
    .box5{
        width: 50px;
        height: 300px;
        background-color: rgb(249, 238, 96);
        flex:5;
        margin: 10px;
        color: brown;
        text-decoration-line: underline;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .reading{
        margin-top: 10px;
        height: 200px;
        width: 100px;
        
    }
    .box6{
        width: 50px;
        height: 300px;
        background-color: rgb(191, 154, 226);
        flex:5;
        margin: 10px;
        color: brown;
        text-decoration-line: underline;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .math{
        margin-top: 10px;
        height: 200px;
        width: 100px;
        
    }

.box6 {
    width: 50px;
    height: 300px;
    background-color: rgb(191, 154, 226);
    flex: 5;
    margin: 10px;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}