.welcome{
background-color: blueviolet;
display: flex;
width: 100%;
padding-bottom: 3px;
padding-top: 5px;
padding-left: 38px;
margin-bottom: 10px;
}
h2 {
color:whitesmoke;
}
.profileBlock{
    display: flex;
    width: 100%;
    margin: 1% auto;
    padding: 2%;
    background: #FFFFFF;
    color: #000;
    border: 2px solid #D6D6D6;
    box-shadow: 2px 4px 13px rgba(0, 0, 0, 0.25);
}
.imgProfile{ 
    width: 30%;
}
.follAndBio{
    width: 50%;
}
.profileInfo{
    display: flex;
    width: 100%;
    margin-left: 2%;
}
.imgFoll{ 
    width: 16px;
    margin-left: 5px;
    vertical-align: middle;
}
.follBlock{
    text-align: center;
    padding-top: 5px;
    width: 40%;
    height: 30px;
    margin-left: 10%;
    box-shadow: 0px 4px 16px -1px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.blockIcons{ 
    width: 20%;
    margin-left: 5%;
}
.menuItems{
    width: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.bioBlock{
    margin-top: 15%;
    margin-left: 12%;
}
.changeIco{
    margin-top: 4%;
}
.infoItems{
    
    display: flex;
    margin-top: 3%;
    margin-bottom: 2%;
}
.infoBlock{
    width: 25%;
    height: 300px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 3%;
    padding: 1%;
    background: #FFF;
    color: #000;
    border: 1px solid #D6D6D6;
    box-shadow: 2px 4px 13px rgba(0, 0, 0, 0.25);
}
.redBlock{
    background: #FFDDDD;
}
.blueBlock{
    background: #C7C9FF;
}
.yellowBlock{
    background: #FFFDC2;
}